{
    "openapi": "3.1.0",
    "info": {
        "title": "Santap Admin / Full API",
        "version": "1.0.0",
        "description": "Dokumentasi **lengkap** seluruh endpoint Santap (staff/owner, kasir, dapur, dan pelanggan) dalam satu tempat \u2014 untuk admin/superadmin dashboard.\n\n**Autentikasi staff/owner:** `Authorization: Bearer <token>` (dari `POST /v1/auth/login`); endpoint scoped organisasi wajib menyertakan header `X-Org-ID`.\n\n**Autentikasi pelanggan (open bill):** header `X-Public-Token` (dari scan QR meja). Endpoint table order publik tidak butuh token.\n\n**Upload media (`multipart/form-data`):** `POST /v1/auth/profile/avatar`, `POST /v1/menus/{id}/image`, `POST /v1/organizations/current/logo`, `POST /v1/organizations/current/banner` \u2014 field file jpeg/png/webp maks 2 MB; gambar lama otomatis diganti, response mengembalikan URL gambar terbaru.\n\n**Format error:** JSON `{ \"message\": string }`; validasi (422) menambah `{ \"errors\": { field: [pesan] } }`."
    },
    "servers": [
        {
            "url": "https://api.santap.app",
            "description": "production"
        },
        {
            "url": "http://localhost:8000",
            "description": "local"
        }
    ],
    "security": [
        {
            "Sanctum": []
        },
        {
            "X-Public-Token": []
        }
    ],
    "paths": {
        "/v1/customer/menu": {
            "get": {
                "operationId": "v1.customer.menu",
                "summary": "Menu publik (tersedia saja, grouped by tree)",
                "tags": [
                    "Customer Menu"
                ],
                "parameters": [
                    {
                        "name": "org",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MenuResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/customer/order": {
            "get": {
                "operationId": "v1.customer.order.show",
                "description": "Hanya dipakai untuk flow open bill aktif. Order disuplai oleh middleware\nensure.customer.token (order_type=open_bill, bill_status=open).",
                "summary": "Lihat order saat ini (open bill \u2014 butuh X-Public-Token)",
                "tags": [
                    "Customer Open Bill"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Header X-Public-Token tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sesi open bill tidak valid / sudah berakhir, atau waktu pembayaran sudah habis (response sertakan `status` & `can_retry`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "X-Public-Token": []
                    }
                ]
            },
            "post": {
                "operationId": "v1.customer.order.create",
                "description": "Order baru HANYA dibuat di sini (saat checkout). Sebelum ini tidak ada\norder di database. Table order bersifat stateless: tidak ada session meja.\n\nState awal table order:\n- order_type      = table_order\n- bill_status     = none  (table order TIDAK memakai lifecycle bill open/closed)\n- order_status    = pending\n- payment_status  = pending\n- payment_method  = qris\n- payment_expires_at = now() + QRIS_EXPIRY_MINUTES (default 15 menit)\n\nResponse menyertakan `payment_expires_at` dan `server_time` (ISO-8601) \u2014 pakai\nkeduanya untuk menghitung countdown yang akurat di klien (offset waktu server).\nPantau status lewat GET /v1/customer/orders/{order}/payment-status.\n\nJika pembuatan QRIS gagal, seluruh transaksi di-rollback sehingga tidak\nada order/order_items yang menggantung.\n\nEndpoint publik \u2014 tidak butuh X-Public-Token.",
                "summary": "Checkout table order \u2014 buat order + QRIS dalam satu transaksi atomik",
                "tags": [
                    "Customer Table Order"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Pesanan berhasil dibuat."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "order_id": {
                                                    "type": "string"
                                                },
                                                "order_number": {
                                                    "type": "string"
                                                },
                                                "public_token": {
                                                    "type": "string"
                                                },
                                                "order_type": {
                                                    "type": "string"
                                                },
                                                "bill_status": {
                                                    "type": "string"
                                                },
                                                "order_status": {
                                                    "type": "string"
                                                },
                                                "payment_status": {
                                                    "type": "string"
                                                },
                                                "payment_method": {
                                                    "type": "string"
                                                },
                                                "payment_reference": {
                                                    "type": "string"
                                                },
                                                "payment_expires_at": {
                                                    "type": "string"
                                                },
                                                "server_time": {
                                                    "type": "string"
                                                },
                                                "qris_data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "qr_url": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "qr_string": {
                                                            "type": "string"
                                                        },
                                                        "payment_reference": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "qr_url",
                                                        "qr_string",
                                                        "payment_reference"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "order_id",
                                                "order_number",
                                                "public_token",
                                                "order_type",
                                                "bill_status",
                                                "order_status",
                                                "payment_status",
                                                "payment_method",
                                                "payment_reference",
                                                "payment_expires_at",
                                                "server_time",
                                                "qris_data"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Gagal membuat pesanan. Silakan coba lagi."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/customer/order/items": {
            "post": {
                "operationId": "v1.customer.order.add-items",
                "description": "Payload memakai `selected_variants`. Harga dikalkulasi backend dan\ndibungkus DB transaction. Hanya untuk open bill (order_type=open_bill).",
                "summary": "Tambah item ke open bill aktif (butuh X-Public-Token)",
                "tags": [
                    "Customer Open Bill"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddItemsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Item berhasil ditambahkan."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Header X-Public-Token tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sesi open bill tidak valid / sudah berakhir, atau waktu pembayaran sudah habis (response sertakan `status` & `can_retry`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "X-Public-Token": []
                    }
                ]
            }
        },
        "/v1/customer/order/pay-qris": {
            "post": {
                "operationId": "v1.customer.order.pay-qris",
                "description": "Mengembalikan `qr_url`/`qr_string`, `payment_reference`, serta\n`payment_expires_at` dan `server_time` (ISO-8601) untuk countdown klien.\nOrder menjadi `payment_status=pending` dengan deadline\nnow() + QRIS_EXPIRY_MINUTES (default 15 menit). Pantau lewat\nGET /v1/customer/order/qris-status.",
                "summary": "Buat pembayaran QRIS untuk open bill aktif (butuh X-Public-Token)",
                "tags": [
                    "Customer Open Bill"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "qr_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "qr_string": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "payment_reference": {
                                                    "type": "string"
                                                },
                                                "payment_expires_at": {
                                                    "type": "string"
                                                },
                                                "server_time": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "qr_url",
                                                "qr_string",
                                                "payment_reference",
                                                "payment_expires_at",
                                                "server_time"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "QRIS payment dibuat."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Order belum memiliki item."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Order sudah dibayar."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Header X-Public-Token tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sesi open bill tidak valid / sudah berakhir, atau waktu pembayaran sudah habis (response sertakan `status` & `can_retry`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "X-Public-Token": []
                    }
                ]
            }
        },
        "/v1/customer/order/qris-status": {
            "get": {
                "operationId": "v1.customer.order.qris-status",
                "description": "Mengecek transaksi ke provider Sekeco/Midtrans (gateway = source of truth);\njika settlement \u2192 order ditandai lunas dan bill ditutup. Mengembalikan\n`payment_status` terkini. Idempotent \u2014 aman dipanggil berulang.",
                "summary": "Polling status QRIS untuk open bill aktif (butuh X-Public-Token)",
                "tags": [
                    "Customer Open Bill"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "payment_status": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "payment_status"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Tidak ada QRIS payment aktif."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Header X-Public-Token tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sesi open bill tidak valid / sudah berakhir, atau waktu pembayaran sudah habis (response sertakan `status` & `can_retry`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "X-Public-Token": []
                    }
                ]
            }
        },
        "/v1/customer/order/qris-cancel": {
            "delete": {
                "operationId": "v1.customer.order.qris-cancel",
                "summary": "Cancel QRIS untuk open bill aktif (butuh X-Public-Token)",
                "tags": [
                    "Customer Open Bill"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "QRIS payment dibatalkan."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Tidak ada QRIS payment aktif."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Header X-Public-Token tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Sesi open bill tidak valid / sudah berakhir, atau waktu pembayaran sudah habis (response sertakan `status` & `can_retry`).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "X-Public-Token": []
                    }
                ]
            }
        },
        "/v1/customer/orders/{order}": {
            "get": {
                "operationId": "v1.customer.public.order.show",
                "description": "Cari order berdasarkan `order_number` ATAU `public_token`. Tidak butuh\nsession, token meja, cart, maupun header X-Public-Token.\n\nUntuk table order, status pembayaran disinkronkan ke provider QRIS lebih\ndulu (gateway = source of truth) sebelum keputusan expiry, sehingga endpoint\nini idempotent dan aman untuk polling progres pesanan (pending \u2192 confirmed \u2192\npreparing \u2192 ready \u2192 completed). Response selalu memakai shape order detail\nyang sama \u2014 termasuk saat cancelled/expired.",
                "summary": "Detail order publik untuk tracking",
                "tags": [
                    "Customer Order Tracking"
                ],
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Order tidak ditemukan."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/v1/customer/organization/{slug}": {
            "get": {
                "operationId": "v1.customer.organization",
                "summary": "Data publik organisasi berdasarkan slug",
                "tags": [
                    "Customer Organization"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "address": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "city": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "logo": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "timezone": {
                                                    "type": "string"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                },
                                                "opening_hours": {
                                                    "type": [
                                                        "array",
                                                        "null"
                                                    ],
                                                    "items": {}
                                                },
                                                "tax_enabled": {
                                                    "type": "boolean",
                                                    "description": "Pajak & service charge \u2014 agar frontend bisa menampilkan rincian."
                                                },
                                                "tax_rate": {
                                                    "type": "string"
                                                },
                                                "service_charge_enabled": {
                                                    "type": "boolean"
                                                },
                                                "service_charge_rate": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "slug",
                                                "phone",
                                                "address",
                                                "city",
                                                "logo",
                                                "timezone",
                                                "currency",
                                                "opening_hours",
                                                "tax_enabled",
                                                "tax_rate",
                                                "service_charge_enabled",
                                                "service_charge_rate"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/v1/customer/orders/{order}/payment-status": {
            "get": {
                "operationId": "v1.customer.public.order.payment-status",
                "description": "Endpoint utama untuk polling dari halaman pembayaran. Cari order by\n`order_number`/`public_token`, lalu untuk table order jalankan sinkronisasi\nke provider QRIS dengan urutan (gateway = source of truth):\n1. SELALU cek provider lebih dulu \u2014 jika settlement \u2192 tandai paid + confirmed\n   (termasuk rekonsiliasi order yang terlanjur cancelled).\n2. Provider menyatakan expired/cancelled/denied \u2192 tandai cancelled.\n3. Provider masih pending DAN sudah lewat deadline \u2192 baru tandai timeout.\n\nIdempotent: aman dipanggil berulang. Response menyertakan `server_time`\n(ISO-8601) untuk sinkronisasi countdown klien. Tidak butuh X-Public-Token,\ntoken meja, atau customer session.",
                "summary": "Status pembayaran publik untuk table order (poll-able tanpa session)",
                "tags": [
                    "Customer Payment"
                ],
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        },
                                        "server_time": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "server_time"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Order tidak ditemukan."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/v1/customer/table/{qrToken}": {
            "get": {
                "operationId": "v1.customer.table.scan",
                "description": "Endpoint ini HANYA melakukan lookup meja + organisasi sebagai entry point.\nTidak membuat order, tidak membuat session, dan tidak menyimpan apa pun.\nToken meja hanya dipakai frontend sebagai konteks sementara.",
                "summary": "Validasi / lookup meja dari QR token",
                "tags": [
                    "Customer Table"
                ],
                "parameters": [
                    {
                        "name": "qrToken",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "organization": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "slug": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "slug"
                                                    ]
                                                },
                                                "table": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "code": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "location": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "code",
                                                        "location"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "organization",
                                                "table"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/v1/auth/login": {
            "post": {
                "operationId": "v1.auth.login",
                "description": "Mengembalikan data user beserta daftar organisasi yang diikuti\n(termasuk `role` per organisasi dari tabel `organization_members`)\ndan Bearer token untuk dipakai di endpoint berikutnya.\n\nMasukkan token ke tombol Authorize sebagai Bearer Token.",
                "summary": "Login staff (owner / cashier / kitchen)",
                "tags": [
                    "Staff Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/UserResource"
                                                },
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "user",
                                                "token"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/auth/logout": {
            "post": {
                "operationId": "v1.auth.logout",
                "summary": "Logout \u2014 mencabut (revoke) token akses yang sedang dipakai",
                "tags": [
                    "Staff Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Berhasil logout."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/auth/me": {
            "get": {
                "operationId": "v1.auth.me",
                "summary": "Profil user yang sedang login beserta daftar organisasi & role-nya",
                "tags": [
                    "Staff Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/auth/profile": {
            "put": {
                "operationId": "v1.auth.profile.update",
                "summary": "Update profil user yang sedang login (nama, telepon, avatar)",
                "tags": [
                    "Staff Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Profil berhasil diupdate."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/auth/profile/avatar": {
            "post": {
                "operationId": "v1.auth.profile.avatar",
                "description": "Field file: `avatar` (jpeg/jpg/png/webp, maks 2 MB). Avatar lama otomatis\ndihapus. Mengembalikan user dengan `avatar` berisi URL siap pakai.",
                "summary": "Upload avatar user yang sedang login (multipart/form-data)",
                "tags": [
                    "Staff Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadAvatarRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Avatar berhasil diunggah."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/cashier/orders": {
            "get": {
                "operationId": "v1.cashier.orders.index",
                "description": "Order `table_order` yang masih `payment_status=pending` (belum dibayar\ndan berpotensi timeout) tidak ditampilkan agar dashboard tetap bersih.",
                "summary": "List order aktif hari ini",
                "tags": [
                    "Staff Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OrderResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            },
            "post": {
                "operationId": "v1.cashier.orders.store",
                "description": "`order_type` valid: `cashier_order` atau `open_bill`.\nUntuk `open_bill`, `bill_status` di-set `open` dan `public_token`\ndigenerate agar pelanggan bisa join. Order dibuat tanpa item \u2014\ntambahkan item lewat endpoint add items. Rate pajak & service\ndi-snapshot dari organisasi saat order dibuat. `created_by` diisi\ndari user yang sedang login.",
                "summary": "Buat order baru (cashier order atau open bill)",
                "tags": [
                    "Staff Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreOrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Order berhasil dibuat."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/cashier/orders/{id}": {
            "get": {
                "operationId": "v1.cashier.orders.show",
                "summary": "Detail order beserta item-itemnya",
                "tags": [
                    "Staff Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/cashier/orders/{id}/items": {
            "post": {
                "operationId": "v1.cashier.orders.add-items",
                "description": "Setiap item: `menu_id` (harus produk), `quantity`, opsional `note`,\ndan opsional `selected_variants` \u2014 daftar pilihan variant berbentuk\n`{ variant_group_id, variant_id }`. Harga dikalkulasi backend dan\nsnapshot pilihan disimpan di `order_items.metadata.selected_options`.\nTotal order otomatis dihitung ulang.",
                "summary": "Tambah item ke order (cashier order atau open bill aktif)",
                "tags": [
                    "Staff Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/App.Http.Requests.Order.AddItemsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Item berhasil ditambahkan."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/cashier/orders/{orderId}/items/{itemId}": {
            "delete": {
                "operationId": "v1.cashier.orders.remove-item",
                "summary": "Hapus satu item dari order. Total order otomatis dihitung ulang",
                "tags": [
                    "Staff Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Item berhasil dihapus."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Sanctum": []
                    }
                ]
            }
        },
        "/v1/cashier/orders/{id}/confirm": {
            "post": {
                "operationId": "v1.cashier.orders.confirm",
                "description": "Hanya untuk order dengan `order_status=pending`.",
                "summary": "Konfirmasi order sehingga masuk antrian dapur",
                "tags": [
                    "Staff Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
[...]
