{
    "openapi": "3.1.0",
    "info": {
        "title": "Santap Mobile POS & Staff API",
        "version": "1.0.0",
        "description": "API untuk aplikasi staff kasir, dapur, dan owner.\n\n**Autentikasi:** kirim `Authorization: Bearer <token>` (token dari `POST /v1/auth/login`).\n\n**Konteks organisasi:** endpoint owner/cashier/kitchen wajib menyertakan header `X-Org-ID` (id organisasi aktif milik user).\n\n**Gambar/media:** field `image` (menu), `logo`/`banner` (organisasi), dan `avatar` (profil) berisi **URL string** ke gambar pada response. Untuk meng-unggah file, tersedia endpoint upload khusus (`multipart/form-data`): `POST /v1/auth/profile/avatar`, `POST /v1/menus/{id}/image`, `POST /v1/organizations/current/logo`, dan `POST /v1/organizations/current/banner` \u2014 kirim field file (jpeg/png/webp, maks 2 MB); gambar lama otomatis diganti dan response mengembalikan resource dengan URL gambar terbaru.\n\n**Format error:** semua error mengembalikan JSON `{ \"message\": string }`; error validasi (422) menambahkan `{ \"errors\": { field: [pesan] } }`."
    },
    "servers": [
        {
            "url": "https://api.santap.app",
            "description": "production"
        },
        {
            "url": "http://localhost:8000",
            "description": "local"
        }
    ],
    "security": [
        {
            "Sanctum": []
        }
    ],
    "paths": {
        "/v1/auth/login": {
            "post": {
                "operationId": "v1.auth.login",
                "description": "Mengembalikan data user beserta daftar organisasi yang diikuti\n(termasuk `role` per organisasi dari tabel `organization_members`)\ndan Bearer token untuk dipakai di endpoint berikutnya.\n\nMasukkan token ke tombol Authorize sebagai Bearer Token.",
                "summary": "Login staff (owner / cashier / kitchen)",
                "tags": [
                    "Mobile Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/UserResource"
                                                },
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "user",
                                                "token"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/auth/logout": {
            "post": {
                "operationId": "v1.auth.logout",
                "summary": "Logout \u2014 mencabut (revoke) token akses yang sedang dipakai",
                "tags": [
                    "Mobile Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Berhasil logout."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/me": {
            "get": {
                "operationId": "v1.auth.me",
                "summary": "Profil user yang sedang login beserta daftar organisasi & role-nya",
                "tags": [
                    "Mobile Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/profile": {
            "put": {
                "operationId": "v1.auth.profile.update",
                "summary": "Update profil user yang sedang login (nama, telepon, avatar)",
                "tags": [
                    "Mobile Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Profil berhasil diupdate."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/profile/avatar": {
            "post": {
                "operationId": "v1.auth.profile.avatar",
                "description": "Field file: `avatar` (jpeg/jpg/png/webp, maks 2 MB). Avatar lama otomatis\ndihapus. Mengembalikan user dengan `avatar` berisi URL siap pakai.",
                "summary": "Upload avatar user yang sedang login (multipart/form-data)",
                "tags": [
                    "Mobile Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadAvatarRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Avatar berhasil diunggah."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders": {
            "get": {
                "operationId": "v1.cashier.orders.index",
                "description": "Order `table_order` yang masih `payment_status=pending` (belum dibayar\ndan berpotensi timeout) tidak ditampilkan agar dashboard tetap bersih.",
                "summary": "List order aktif hari ini",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OrderResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "v1.cashier.orders.store",
                "description": "`order_type` valid: `cashier_order` atau `open_bill`.\nUntuk `open_bill`, `bill_status` di-set `open` dan `public_token`\ndigenerate agar pelanggan bisa join. Order dibuat tanpa item \u2014\ntambahkan item lewat endpoint add items. Rate pajak & service\ndi-snapshot dari organisasi saat order dibuat. `created_by` diisi\ndari user yang sedang login.",
                "summary": "Buat order baru (cashier order atau open bill)",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreOrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Order berhasil dibuat."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders/{id}": {
            "get": {
                "operationId": "v1.cashier.orders.show",
                "summary": "Detail order beserta item-itemnya",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders/{id}/items": {
            "post": {
                "operationId": "v1.cashier.orders.add-items",
                "description": "Setiap item: `menu_id` (harus produk), `quantity`, opsional `note`,\ndan opsional `selected_variants` \u2014 daftar pilihan variant berbentuk\n`{ variant_group_id, variant_id }`. Harga dikalkulasi backend dan\nsnapshot pilihan disimpan di `order_items.metadata.selected_options`.\nTotal order otomatis dihitung ulang.",
                "summary": "Tambah item ke order (cashier order atau open bill aktif)",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddItemsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderDetailResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Item berhasil ditambahkan."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders/{orderId}/items/{itemId}": {
            "delete": {
                "operationId": "v1.cashier.orders.remove-item",
                "summary": "Hapus satu item dari order. Total order otomatis dihitung ulang",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Item berhasil dihapus."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders/{id}/confirm": {
            "post": {
                "operationId": "v1.cashier.orders.confirm",
                "description": "Hanya untuk order dengan `order_status=pending`.",
                "summary": "Konfirmasi order sehingga masuk antrian dapur",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Order dikonfirmasi."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Order tidak bisa dikonfirmasi."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders/{id}/close": {
            "post": {
                "operationId": "v1.cashier.orders.close",
                "description": "Dipakai untuk menutup open bill setelah pembayaran. `bill_status`\nmenjadi `closed`; `order_status` menjadi `completed` kecuali order\nsudah `cancelled`.",
                "summary": "Tutup bill (close)",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Bill berhasil ditutup."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Order sudah ditutup."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/cashier/orders/{id}/cancel": {
            "post": {
                "operationId": "v1.cashier.orders.cancel",
                "description": "Tidak bisa membatalkan order yang sudah `completed`, `cancelled`,\natau sudah dibayar (`paid`). Jika ada QRIS pending, dibatalkan dulu\nke penyedia. Menyimpan `cancelled_by`, `cancel_reason`, `cancelled_at`.",
                "summary": "Batalkan order",
                "tags": [
                    "Mobile Cashier Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CancelOrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OrderResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Order berhasil dibatalkan."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kitchen/orders": {
            "get": {
                "operationId": "v1.kitchen.orders.index",
                "description": "Mengembalikan order dengan `order_status` `confirmed` atau `preparing`,\nbeserta item-itemnya. Cocok untuk polling layar dapur.",
                "summary": "Antrian order untuk dapur",
                "tags": [
                    "Mobile Kitchen"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OrderResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kitchen/order-items/{id}/status": {
            "patch": {
                "operationId": "v1.kitchen.order-items.status",
                "description": "Nilai `item_status` yang valid: `preparing`, `ready`, `served`, `cancelled`.\n\nitem_status adalah SUMBER KEBENARAN \u2014 setelah diubah, `order_status`\nditurunkan ulang dari agregat seluruh item (item-driven):\n  semua item served \u2192 completed \u00b7 semua ready \u2192 ready \u00b7\n  ada yang diproses \u2192 preparing \u00b7 sisanya \u2192 confirmed.",
                "summary": "Update status satu item order dari dapur",
                "tags": [
                    "Mobile Kitchen"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateItemStatusRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Status item diupdate."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/menus": {
            "get": {
                "operationId": "v1.menus.index",
                "description": "Mengembalikan produk root beserta children-nya 2 level\n(variant_group/addon_group lalu variant/addon).",
                "summary": "List menu dalam bentuk tree",
                "tags": [
                    "Mobile Menu"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MenuResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "v1.menus.store",
                "description": "Tipe valid: `product`, `variant_group`, `variant`, `addon_group`, `addon`.\nHierarki: variant_group/addon_group harus punya parent product;\nvariant harus di bawah variant_group; addon harus di bawah addon_group.",
                "summary": "Buat menu baru",
                "tags": [
                    "Mobile Menu"
                ],
                "parameters": [
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreMenuRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/MenuResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Menu berhasil dibuat."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/menus/{id}": {
            "put": {
                "operationId": "v1.menus.update",
                "summary": "Update menu",
                "tags": [
                    "Mobile Menu"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMenuRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/MenuResource"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Menu berhasil diupdate."
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organisasi atau resource (mis. menu/meja/order pada {id}) tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "v1.menus.destroy",
                "summary": "Hapus menu (otomatis cascade ke children-nya)",
                "tags": [
                    "Mobile Menu"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "X-Org-ID",
                        "in": "header",
                        "required": true,
                        "description": "ID organisasi aktif. Wajib untuk endpoint owner/cashier/kitchen yang terikat ke satu organisasi.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "cascade ke children via FK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Menu berhasil dihapus."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Belum terautentikasi \u2014 Bearer token tidak ada / tidak valid / sudah dicabut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Header X-Org-ID tidak disertakan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organisasi tidak aktif, atau Anda bukan member organisasi ini (sebagian aksi hanya untuk owner).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Pesan error yang bisa ditampilkan ke pengguna."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
[...]
